.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color:#cfd6dd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5em;
    padding: 1rem;
    display: flex;
    font-weight: bold;
    border-bottom: 2px solid #075985;
}

.header_container {
    display:flex;
}

.header_1, .header_3 {
    color: #1f2937;
}

.header_2, .header_4 {
    color: #075985;
}

.flex_bar {
    display: flex;
    flex: 1;
}

h2 {
    font-size: 2.8rem;
    /* font-weight: 600; */
}

.sidebar_tasks {
    font-size: 1.1rem;
}

.all_tasks, .today, .week, .important {
    display: flex;
    gap: 0.4em;
    align-items: center;
    margin-left: 0.5em;
    cursor: pointer;
    border-radius: 0.4rem;
}

.star:hover, .task_remove:hover, .task_details:hover, .all_tasks:hover, .today:hover, .week:hover, .important:hover, .add_project:hover, .project_left_container:hover, .dot:hover {
    background-color:#abb2ba;
    transition: 200ms ease-in-out;
}

.icon {
    width: 35px;
    height: 35px;
}

.sidebar {
    padding: 1.5em;
    line-height: 3.5em;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #e4e9ed;
    gap: 1em;
    border-right: 2px solid #075985;
}

.project_left_container {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 0.4em;
    height: 100%;
}

.new_project, .add_project {
    display: flex;
    align-items: center;
    gap: 0.4em;
    cursor: pointer;
    border-radius: 0.4rem;
}

.new_project {
    justify-content: space-between;
    margin-left: 1em;
    height: 3em;
}

.add_project {
    justify-content: center;
}

.project_box {
    z-index: 10;
    background-color:#cbd5e1;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.project_box.active {
    transform: scale(1);
}

.project_input {
    background-color: white;
    border-radius: 0.2em;
    border: transparent;
    height: 1.8em;
}

.project_btn_container {
    display: flex;
    gap: 1em;
}

.project_add_btn {
    background-color: #4ade80;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 0.2em;
    max-height: 1.8em;
    cursor: pointer;
}

.project_add_btn:hover {
    background-color: #40be6e;
    transition: 200ms ease-in-out;
}

.project_cancel_btn {
    background-color: #fb7185;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2em;
    max-height: 1.8em;
    cursor: pointer;
}

.project_cancel_btn:hover {
    background-color: #e06275;
    transition: 200ms ease-in-out;
}

/* #cbd5e1 */
/* f1f5f9  original mainbar color */

.mainbar {
    padding: 0.6em;
    flex: 4;
    background-color: #cbd5e1;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.mainbar_heading {
    display: flex;
    align-items: center;
    height: 8rem;
    background-color:#075985;
    font-size: 4em;
    padding-left: 1rem;
    color: white;
}

.mainbar_btn {
    background-color: #38bdf8;
    width: 10rem;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    cursor: pointer;
    border-radius: 1rem;

    transform: scale(0);
    transition: 300ms ease-in-out;
}

.mainbar_btn:hover {
    background-color: #2698c9;
    transition: 200ms ease-in-out;
}

.mainbar_btn.active {
    transform: scale(1);
}

.mainbar_btn.inactive, .task_remove.inactive, .star.inactive {
    pointer-events: none;
}

.mainbar_tasks {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.close_button, .details_close_button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 100%;
}

.task_box {
    color:#1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background-color: rgb(244, 244, 244);
    border-radius: 0.4em;
    border: 2px solid #075985
}

.task_content_heading {
    color: #475569;
    font-size: 2.2em;
    padding-bottom: 1rem;
    border-bottom: 1px solid #475569;
    border-width: 80%;
}

.task_info {
    margin-top: 1rem;
    display: flex;
    flex: 1;
}

.task_info_left {
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.task_info_right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.task_content, .details_content {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    min-width: 650px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 30%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out;
    border-radius: 0.5rem;
    z-index: 10;
    background-color: white;
    line-height: 2rem;
}

.task_info_left > div:nth-child(-n+2) > input {
    width: 12rem;
    height: 1.2rem;
}

.task_info_left > div > label {
    display: inline-block;
    width: 4.5rem;
    color: #64748b;
}

.task_info_left > div > input {
    border: 1px solid #cbd5e1;
}

.task_info_right div:first-child > input {
    width: 12rem;
    height: 5rem;
    vertical-align: top;
    border: 1px solid #cbd5e1;
    border-radius: 0.1rem;
}

.task_info_right > div > label {
    margin-right: 0.5rem;
    color: #64748b;
}

.task_buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.6rem;
}

.task_submit, .task_close {
    cursor: pointer;
    padding: 0.8rem 1rem;
    border-radius: 0.2rem;
}

.task_close {
    color: #94a3b8;
    border: 1px solid #94a3b8;
}

.task_submit {
    color: white;
    background-color:#075985;
    border: none;
}

.task_submit:hover {
    background-color:#06344c;
    transition: 200ms ease-in-out;
}

.task_close:hover {
    transition: 200ms ease-in-out;
    background-color: #7a8697;
}

.details_left_container > div > label {
    display: inline-block;
    width: 4.5rem;
    color: #4e5560;
}


.details_left_container > div > input {
    width: 15em;
    border: 1px solid #cbd5e1;
    border-radius: 0.1rem;
}

.details_description > input {
    width: 15em;
    height: 4.5rem;
    vertical-align: top;
    border: 1px solid #cbd5e1;
    border-radius: 0.1rem;
}


.details_description > label {
    margin-right: 0.5rem;
    color: #4e5560;
}

.task_content.active, .details_content.active {
    transform: translate(-50%, -50%) scale(1);
}

.task_button_container {
    display: flex;
    align-items: center;
    gap: 0.8em;
}

.task_date {
    border: 0.2rem solid #0284c7;
    font-size: 0.9rem;
    border-radius: 0.4rem;
    padding: 0.4rem;
}

.task_details {
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 0.4rem;
}

.task_remove, .list, .plus, .dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    padding: 0.2rem;
    border-radius: 0.4rem;
}

.task_remove {
    height: 25px;
    width: 25px;
}

.star {
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 0.4rem;
}

.pencil {
    height: 23px;
    width: 23px;
}

.empty_star, .full_star {
    height: 25px;
    width: 25px;
}

.dot {
    margin-right: 0.5em;
    /* height: 100%; */
}

#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    top: 0;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

#details_description {
    height: 80%;
}

.details_left_container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.details_task_box {
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dfe5eb;
    border-radius: 0.5rem;
}

.details_task_box.active {
    animation: fade-in 500ms forwards;
}

.details_close_button {
    display: flex;
    justify-content: flex-end;
}

.details_container {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.details_title {

}

.details_duedate {

}

.details_priority {

}

.details_description {
    vertical-align: top;
}

.details_task_submit {
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    border-radius: 0.2rem;
    color: white;
    background-color:#075985;
    border: none;
}

.details_task_submit:hover {
    background-color:#06344c;
    transition: 200ms ease-in-out;
}

.parent_task_submit {
    display: flex;
    justify-content: center;
}
